<%- include('../partials/header') %>
<main>
    <h2>Dodaj nowego pirata drogowego</h2>
    <form action="/edit/<%= roadPirate._id %>" method="POST">
        <input type = "text" name="name" value ="<%= roadPirate.name %>" placeholder="imie" required><br><br>
        <input type = "text" name="surname" value ="<%= roadPirate.surname %>" placeholder="nazwisko" required><br><br>
        <input type = "text" name="brand" id ="brand" placeholder="marka  samochodu" required><br><br>
        <textarea name="content" placeholder="przewinienie"> <%= roadPirate.content %></textarea> <br><br>
            <button type = "submit" > Zapisz zmiany</button>
    </form>
</main>
<%- include('../partials/footer') %>