<%- include('../partials/header') %>
<main>
    <h2>Statystyki</h2>
    <p>Liczba piratów drogowych: <strong><%= count %></strong></p>

    <% if (latest) { %>
        <h3>Najnowszy wpis:</h3>
        <p><%= latest.name || latest.surname %>
        <span class="text-muted"><%= latest.surname %></span></p>
    <% } else { %>
        <p class="text-muted">Brak wpisów.</p>
    <% } %>
</main>
<%- include('../partials/footer') %>